</main>

<footer id="footer" class="footer">
	<!-- social container -->
	<div class="social">
		<!-- github icon -->
		<a target="_blank" href="https://github.com/ipeavy"><img src="/img/github.svg" alt="github"></a>
		<!-- twitter icon -->
		<a target="_blank" href="https://twitter.com/IshmaelPeavy"><img src="/img/twitter.svg" alt="twitter"></a>
		<!-- linkedin icon -->
		<a target="_blank" href="https://www.linkedin.com/in/ishmael-peavy-b591a9170/"><img src="/img/linkedin.svg"
				alt="linkedin"></a>
		<!-- instagram icon -->
		<a target="_blank" href="https://www.instagram.com/ishmael.peavy/"><img src="/img/instagram.svg"
				alt="instagram"></a>
	</div>
</footer>

<script src="/js/main.js"></script>
</body>

</html>