<!DOCTYPE html>
<html lang="en">

<head>
	<title>ishsportfolio</title>

	<meta charset="utf-8">
	<meta name="author" content="github.com/ipeavy">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<meta name="description" content="">
	<meta name="keywords" content="ishsportfolio, ishmael peavy, ish, developer, html, email dev, font end developer ">

	<!-- notch color -->
	<meta name="theme-color" content="#191919">

	<!-- font style -->
	<link rel="stylesheet" href="https://use.typekit.net/lku6hbp.css">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="">
	<meta property="og:title" content="ishsportfolio.com">
	<meta property="og:description"
		content="My name is Ishmael Peavy. A self-taught Web/Html email developer located in Providence, Rhode Island. My main hobbies are hiking, car meets, and watching tech videos. I love communicating with people and making new acquaintances. life is all about growing so I'm willing to expand my knowledge of coding.">
	<meta property="og:keywords" content="">
	<meta property="og:image" content="">

	<link rel="canonical" href="">

	<link rel="icon" href="/favicon.svg" sizes="any">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="image_src" href="">

	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<!-- header -->
	<header id="header" class="header">
		<!-- header container -->
		<div class="container">
			<!-- pages -->
			<div class="contacts">
				<ul>
					<a class="highlight" href="/index.html">
						<li>Work</li>
					</a>
					<a class="highlight" href="/about.html">
						<li>About / Contact</li>
					</a>
				</ul>
			</div>
			<!-- name container -->
			<div class="name">
				<a href="/index.html">
					<p>Ishmael Peavy</p>
				</a>
			</div>
			<!-- hamburger menu container -->
			<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
			<label for="openSidebarMenu" class="sidebarIconToggle">
				<div class="spinner diagonal part-1"></div>
				<div class="spinner horizontal"></div>
				<div class="spinner diagonal part-2"></div>
			</label>
			<!-- side bar menu -->
			<div id="sidebarMenu">
				<!-- nav section -->
				<div class="mobile-nav-container">
					<ul class="mobile-nav-menu">
						<a href="./index.html">
							<li>Work</li>
						</a>
						<a href="./about.html">
							<li>About / Contact</li>
						</a>
					</ul>
				</div>
			</div>
			<!-- social container -->
			<div class="social">
				<!-- github icon -->
				<a target="_blank" href="https://github.com/ipeavy"><img src="/img/github.svg" alt="github"></a>
				<a target="_blank" href="https://twitter.com/IshmaelPeavy"><img src="/img/twitter.svg"
						alt="twitter"></a>
				<a target="_blank" href="https://www.linkedin.com/in/ishmael-peavy-b591a9170/"><img
						src="/img/linkedin.svg" alt="linkedin"></a>
				<a target="_blank" href="https://www.instagram.com/ishmael.peavy/"><img src="/img/instagram.svg"
						alt="instagram"></a>
			</div>
		</div>
	</header>

	<main class="container page-content">