.wrapper {
    .about {
        background-image: url("/img/about4@2X.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .projects-wrapper {

        .projects-container {
            .arrow-up {
                position: fixed;
                z-index: 99;
                right: 2rem;


                .arrowUp {
                    background-color: #ffffff;
                    border-radius: 50%;
                    width: 6rem;
                    height: 6rem;
                    opacity: .6;
                    align-items: center;
                    display: flex;

                    &:hover {
                        opacity: .1;
                    }

                    img {
                        margin: 0 auto;
                    }

                }
            }

        }



    }
}

.about-container {
    padding: 0 2.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1368px;

    .submit-btn {
        width: 100%;
        max-width: 500px;
        margin: 2.5rem auto;

        button {
            width: 10rem;
            height: 3.5rem;
            background-color: #ffffff;
            border-radius: .5rem;
        }
    }


    .about-text {
        p {
            color: #a9a9a9;
            font-size: 1.6rem;
        }
    }

    .input {
        label {
            color: #a9a9a9;
            width: 100%;
            max-width: 500px;
            margin: 2.5rem auto .5rem auto;
        }


        input {
            background-color: transparent;
            border: solid .5px #a9a9a9;
            border-radius: 5px;
            max-width: 50rem;
            margin: 0 auto;
        }

        .msg {
            height: 15rem;
        }


    }
}