.wrapper {
    .name-container {
        z-index: 3;
    }

    .name-about {
        .ptag-name {
            color: #ffffff;
        }
    }

    .about {
        background-image: url("https://imagedelivery.net/69_vwp5TEvZvAzsHMtkORA/4e647fa4-c09a-4cce-dba6-48cbd678ee00/public");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.about-container {
    padding: 0 2.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1368px;
    height: 100vh;


    .submit-btn {
        width: 10rem;
        height: 3.5rem;
        color: #000000;
        background-color: #ffffff;
        border-radius: .5rem;
    }



    .about-text {
        p {
            color: #a9a9a9;
            font-size: 1.6rem;
            letter-spacing: 1.34px;
            text-align: center;
            word-spacing: .7px;
            max-width: 600px;
            margin: 0 auto;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            line-height: 26px;
        }
    }

    .input {

        max-width: 500px;
        margin: 0 auto;

        label {
            color: #a9a9a9;
            width: 100%;
            max-width: 500px;
            margin: 2.5rem auto .5rem auto;
        }

        input,
        select,
        textarea {
            color: #a9a9a9;
        }


        input {
            background-color: transparent;
            border: solid .5px #a9a9a9;
            border-radius: 5px;
            max-width: 50rem;
            margin: 0 auto;



        }

        .msg {
            height: 15rem;
            padding-bottom: 12rem;
        }


    }
}