.footer {
	display: block;
	width: 100%;
	padding: 2rem;
	background-color: #212121;
	position: fixed;
	bottom: 0;
	z-index: 1001;

	@include breakpoint(medium) {
		display: none;
	}

	.social {
		text-align: center;
		display: flex;
		justify-content: center;
	}

	a {
		padding: 1rem;
	}
}