.header {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: 6.5rem;
	background-color: #191919;

	.container {
		width: 100%;
		max-width: 1368px;
		display: flex;
		align-content: center;
		justify-content: space-between;

		.contacts {
			display: flex;
			align-items: center;

			ul {
				padding: 0;
				display: flex;
				margin: 0;
				list-style-type: none;

				.highlight {
					opacity: .5;

					&:hover {
						opacity: 1;
					}
				}

				li {
					font-size: 1.5rem;
					font-weight: 600;
					padding: 0 1rem;
				}
			}
		}

		.name {
			display: flex;
			align-items: center;

			p {
				margin: 0;
				font-size: 2.3rem;
				font-weight: 600;
				color: #ffffff;
			}
		}

		.social {
			display: flex;

			a {
				padding: 1rem;
			}
		}
	}


}