.name-container {
    width: 100%;
    overflow: hidden;
    height: 84vh;
    background-color: #1F1F1F;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: -99;
    padding: 0 .112rem;


    .arrow {
        position: absolute;
        left: 43%;
        top: 70%;
        right: 43%;

        @include breakpoint(medium) {
            top: 83%;
            left: 47.2%;
        }

        @include breakpoint(large) {
            top: 83%;
            left: 48.5% !important;
        }

        img {
            width: 4rem;
            height: 2rem;
        }
    }

    .name-about {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 0 .5rem;



        p {
            font-size: 1.7rem;
            color: #B8B8B8;

            @include breakpoint(medium) {
                font-size: 2rem;
            }
        }
    }
}

.projects-wrapper {
    width: 100%;
    background-color: #212121;
    position: absolute;
    overflow-x: hidden;
    z-index: 1000;
    top: 80%;

    @include breakpoint(medium) {
        top: 100%;
    }

    .projects-container {
        max-width: 1150px;
        margin: 0 auto;
        width: 100%;
        overflow-x: hidden;
    
    

        .arrow-up {
            position: fixed;
            z-index: 99;
            right: 2rem;


            .arrowUp {
                background-color: #ffffff;
                border-radius: 50%;
                width: 6rem;
                height: 6rem;
                opacity: .6;
                align-items: center;
                display: flex;

                &:hover {
                    opacity: .1;
                }

                img {
                    margin: 0 auto;
                }

            }
        }

        .col {
            padding: .2em;
        }

        .img-container {
            margin: 1rem auto;
            padding: 0 1em;

            img {

                transition: all ease-in-out 450ms;

                &:hover {
                    background-color: #000000;
                    opacity: .5;
                }
            }

            .img-text {
                display: flex;
                align-content: center;
                flex-direction: column;
                margin-top: -0.5rem;
                height: 10rem;
                background-color: #000000;
                color: #fff;

                .p-text {
                    width: 300px;
                    margin: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}