.name-container {
    width: 100%;
    overflow: hidden;
    height: 84vh;
    background-color: #1F1F1F;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: -99;
    padding: 0 .112rem;

    @include breakpoint(large) {
        max-height: 768px;
    }


    .hireBtn{
        padding: 1rem 0;
        font-size: 1.7rem;
        text-decoration: underline;
        @include breakpoint(medium) {
            display: none;
        }
    }


    .arrow {
        position: absolute;
        left: 43%;
        top: 70%;
        right: 43%;

        @include breakpoint(medium) {
            top: 83%;
        }

        img {
            width: 4rem;
            height: 2rem;
        }
    }

    .name-about {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 0 .5rem;



        p {
            font-size: 1.7rem;
            color: #B8B8B8;

            @include breakpoint(medium) {
                font-size: 2rem;
            }
        }
    }
}
