.name-container {
    width: 100%;
    overflow: hidden;
    height: 90vh;
    background-color: #1F1F1F;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: -99;

    .arrow{
        padding-top: 5rem;
            img{
                width: 8rem;
                height: 3rem;
            } 
        }

    .name-about {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        

        p {
            font-size: 1.7rem;
            color: #B8B8B8;
        }
    }
}

.projects-wrapper {
    width: 100%;
    background-color: #212121;
    position: absolute;
    z-index: 1000;
    top: 80%;

    @include breakpoint(medium) {
        top: 100%;
    }

    .projects-container {
        max-width: 1150px;
        margin: 0 auto;
        width: 100%;

        .img-container {
            margin: 1rem auto;
            .img-text{
                display: flex;
                align-content: center;
                flex-direction: column;
                margin-top: -0.5rem;
                height: 10rem;
                background-color: #000000;
                color: #fff;
            }
        }
    }
}